<template>
  <div>
    <base-header class="pb-6">
      <h6 class="h2 text-white d-inline-block mb-0 py-4">Songs</h6>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="card col-12 pb-3">
          <div class="card-header border-0 px-0">
            <div class="row">
              <div class="col-6">
                <h3 v-if="artistName" class="mb-0">Tracks by {{artistName}}</h3>
              </div>
              <div class="col-6 text-right">
                <base-button @click="showCreateModal" type="outline-purple" icon size="sm">
                  <span class="btn-inner--icon">
                    <i class="fas fa-plus"></i>
                  </span>
                  <span class="ml-1">Upload New Song</span>
                </base-button>
              </div>
            </div>
          </div>
          <client-only>
            <el-table
              v-loading="$apollo.queries.artist_tracks.loading"
              class="table-responsive align-items-center table-flush table-striped table--song-list"
              header-row-class-name="thead-light"
              :data="artistTracks"
              :empty-text="`No tracks have been uploaded for ${artistName || 'this artist'}`"
            >
              <el-table-column sortable label="S/N" prop="index" min-width="100px"></el-table-column>

              <el-table-column label="Track Image" min-width="140px" prop="track_image">
                <template v-slot="{row}">
                  <img
                    :src="row.track_image ? row.track_image.url : '/img/placeholders/noimageavailable.svg'"
                    class="avatar rounded-circle mr-3"
                  />
                </template>
              </el-table-column>

              <el-table-column sortable label="Title" prop="title" min-width="212px"></el-table-column>

              <el-table-column
                sortable
                label="Album"
                prop="albums[0].album.title"
                min-width="180px"
              ></el-table-column>

              <el-table-column label="Actions" min-width="242px">
                <div slot-scope="{row}" class="table-actions">
                  <el-tooltip content="Edit Track" placement="top">
                    <base-button
                      class="d-flex"
                      @click="onEdit(row)"
                      type="outline-purple"
                      icon
                      size="sm"
                    >
                      <span class="btn-inner--icon">
                        <i class="fas fa-edit"></i>
                      </span>
                      <span class="d-block d-lg-none">Edit</span>
                    </base-button>
                  </el-tooltip>
                  <el-tooltip content="Delete Track" placement="top">
                    <base-button
                      class="d-flex"
                      @click="onDelete(row)"
                      type="outline-danger"
                      icon
                      size="sm"
                    >
                      <span class="btn-inner--icon">
                        <i class="fas fa-trash"></i>
                      </span>
                      <span class="d-block d-lg-none">Delete</span>
                    </base-button>
                  </el-tooltip>
                </div>
              </el-table-column>
            </el-table>

            <modal size="sm" :show.sync="showDeleteConfirmation">
              <h6
                slot="header"
                class="modal-title"
                id="modal-title-default"
              >{{deleteConfirmationTitle}}</h6>
              <p class="text-center mb-1">Are you sure you want to delete</p>
              <p class="text-center">{{deleteConfirmationText}}</p>
              <div class="mt-4 d-flex justify-content-center">
                <base-button @click="updateContentItem()" type="danger">Yes, Delete</base-button>
              </div>
            </modal>

            <modal size="lg" :show.sync="showModal">
              <h6 slot="header" class="modal-title" id="modal-title-default">{{modalTitle}}</h6>
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <base-input
                      v-model="formData.title"
                      label="Song Title"
                      placeholder="Enter track title..."
                    />
                  </div>
                  <div class="col-md-6">
                    <base-input
                      v-model="formData.sortTitle"
                      label="Song Sort Title"
                      placeholder="Enter track sort title..."
                    />
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <base-input label="Genres">
                      <multi-select
                        v-model="formData.genres"
                        id="genres"
                        label="name"
                        track-by="id"
                        tag-placeholder="Add genre"
                        placeholder="Type to search"
                        open-direction="bottom"
                        :options="genreEdges"
                        :multiple="true"
                        :searchable="true"
                        :internal-search="true"
                        :limit="10"
                        :limit-text="limitText"
                        :max-height="150"
                        :hide-selected="false"
                      >
                        <span slot="noResult">Genre not found</span>
                        <span slot="noOptions"></span>
                      </multi-select>
                    </base-input>
                  </div>
                  <div class="col-md-6">
                    <base-input label="What type of track is this?">
                      <el-select v-model="formData.trackAlbumProperty" placeholder="Select">
                        <el-option label="Single Track" :value="trackAlbumEnum.SINGLE_TRACK"></el-option>
                        <el-option label="Album Track" :value="trackAlbumEnum.ALBUM_TRACK"></el-option>
                        <el-option
                          label="Single Album Track"
                          :value="trackAlbumEnum.SINGLE_ALBUM_TRACK"
                        ></el-option>
                      </el-select>
                    </base-input>
                  </div>
                </div>

                <base-input label="Featuring Artists">
                  <multi-select
                    v-model="formData.features"
                    id="featuring-artists"
                    label="name"
                    track-by="id"
                    tag-placeholder="Add featuring artist"
                    placeholder="Type to search"
                    open-direction="bottom"
                    :options="artistEdges"
                    :multiple="true"
                    :searchable="true"
                    :close-on-select="artistEdges.length > 1 ? false : true"
                    :clear-on-select="artistEdges.length > 1 ? false : true"
                    :loading="$apollo.queries.searchArtists ? $apollo.queries.searchArtists.loading : false"
                    :internal-search="false"
                    :limit="15"
                    :limit-text="limitText"
                    :max-height="150"
                    :hide-selected="false"
                    @search-change="updateSearch($event, 'searchArtistsText')"
                  >
                    <span slot="noResult">Artist not found</span>
                    <span slot="noOptions"></span>
                  </multi-select>
                </base-input>

                <div class="row">
                  <div class="col-md-6">
                    <base-input label="Collaborators">
                      <multi-select
                        v-model="formData.collaborators"
                        id="collaborators"
                        label="name"
                        track-by="id"
                        tag-placeholder="Add collaborators"
                        placeholder="Type to search"
                        open-direction="bottom"
                        :options="artistEdges"
                        :multiple="true"
                        :searchable="true"
                        :close-on-select="artistEdges.length > 1 ? false : true"
                        :clear-on-select="artistEdges.length > 1 ? false : true"
                        :loading="$apollo.queries.searchArtists ? $apollo.queries.searchArtists.loading : false"
                        :internal-search="false"
                        :limit="15"
                        :limit-text="limitText"
                        :max-height="150"
                        :hide-selected="false"
                        @search-change="updateSearch($event, 'searchArtistsText')"
                      >
                        <span slot="noResult">Collaborator not found</span>
                        <span slot="noOptions"></span>
                      </multi-select>
                    </base-input>
                  </div>
                  <div class="col-md-6">
                    <base-input label="Writers">
                      <multi-select
                        v-model="formData.writers"
                        id="writers"
                        label="name"
                        track-by="id"
                        tag-placeholder="Add writers"
                        placeholder="Type to search"
                        open-direction="bottom"
                        :options="artistEdges"
                        :multiple="true"
                        :searchable="true"
                        :close-on-select="artistEdges.length > 1 ? false : true"
                        :clear-on-select="artistEdges.length > 1 ? false : true"
                        :loading="$apollo.queries.searchArtists ? $apollo.queries.searchArtists.loading : false"
                        :internal-search="false"
                        :limit="15"
                        :limit-text="limitText"
                        :max-height="150"
                        :hide-selected="false"
                        @search-change="updateSearch($event, 'searchArtistsText')"
                      >
                        <span slot="noResult">Writer not found</span>
                        <span slot="noOptions"></span>
                      </multi-select>
                    </base-input>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <base-input label="Producers">
                      <multi-select
                        v-model="formData.producer"
                        id="producer"
                        label="name"
                        track-by="id"
                        tag-placeholder="Add producer"
                        placeholder="Type to search"
                        open-direction="bottom"
                        :options="artistEdges"
                        :multiple="true"
                        :searchable="true"
                        :close-on-select="artistEdges.length > 1 ? false : true"
                        :clear-on-select="artistEdges.length > 1 ? false : true"
                        :loading="$apollo.queries.searchArtists ? $apollo.queries.searchArtists.loading : false"
                        :internal-search="false"
                        :limit="15"
                        :limit-text="limitText"
                        :max-height="150"
                        :hide-selected="false"
                        @search-change="updateSearch($event, 'searchArtistsText')"
                      >
                        <span slot="noResult">Producer not found</span>
                        <span slot="noOptions"></span>
                      </multi-select>
                    </base-input>
                  </div>
                  <div class="col-md-6">
                    <base-input label="Albums">
                      <multi-select
                        v-model="formData.albums"
                        id="albums"
                        label="title"
                        track-by="id"
                        tag-placeholder="Add album"
                        placeholder="Type to search"
                        open-direction="bottom"
                        :options="albumEdges"
                        :multiple="true"
                        :searchable="true"
                        :loading="$apollo.queries.searchAlbum ? $apollo.queries.searchAlbum.loading : false"
                        :internal-search="false"
                        :limit="10"
                        :limit-text="limitText"
                        :max-height="150"
                        :hide-selected="false"
                        @search-change="updateSearch($event, 'searchAlbumsText')"
                      >
                        <span slot="noResult">Album not found</span>
                        <span slot="noOptions"></span>
                      </multi-select>
                    </base-input>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <base-input v-model="formData.duration" label="Duration" placeholder="..." />
                  </div>
                  <div class="col-md-6">
                    <base-input label="Explicit track?">
                      <el-select v-model="formData.isExplicit" placeholder="Select">
                        <el-option label="Yes" :value="true"></el-option>
                        <el-option label="No" :value="false"></el-option>
                      </el-select>
                    </base-input>
                  </div>
                </div>

                <base-input label="Lyrics">
                  <el-input
                    type="textarea"
                    :rows="4"
                    placeholder="Enter song lyrics..."
                    v-model="formData.lyrics"
                  ></el-input>
                </base-input>

                <div class="row">
                  <div class="col-md-6">
                    <base-input label="Song File">
                      <file-input
                        :use-initial-label="true"
                        @change="(file)=>filesChange(file, 'audioTrack')"
                      ></file-input>
                    </base-input>
                  </div>
                  <div class="col-md-6">
                    <base-input label="Cover Image">
                      <file-input @change="(file)=>filesChange(file, 'albumArt')"></file-input>
                    </base-input>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <base-input label="Video File">
                      <file-input @change="(file)=>filesChange(file, 'video')"></file-input>
                    </base-input>
                  </div>
                </div>
              </form>

              <template slot="footer">
                <base-button @click="updateContentItem()" type="primary">Save changes</base-button>
              </template>
            </modal>
          </client-only>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import createRadioHomeGql from "~/gql/createRadioShow.gql";

import fetchArtistTracksAndFeaturingGql from "~/gql/fetchArtistTracksAndFeaturing.gql";
import updateTrackGql from "~/gql/updateTrack.gql";
import deleteTrackGql from "~/gql/deleteTrack.gql";

import searchAlbumGql from "~/gql/searchAlbum.gql";
import searchArtistGql from "~/gql/searchArtist.gql";

import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
  Tooltip,
  Loading
} from "element-ui";
import FileInput from "@/components/gbedu-core/Inputs/FileInput";

const trackAlbumEnum = {
  SINGLE_TRACK: "SINGLE_TRACK",
  ALBUM_TRACK: "ALBUM_TRACK",
  SINGLE_ALBUM_TRACK: "SINGLE_ALBUM_TRACK"
};

const initialFormData = {
  title: "",
  sortTitle: "",
  genres: [],
  trackAlbumProperty: trackAlbumEnum.SINGLE_TRACK,
  features: [],
  collaborators: [],
  writers: [],
  producers: [],
  albums: [],
  lyrics: "",
  isExplicit: false,
  duration: 0,
  albumArt: null,
  audioTrack: null,
  video: null
};

export default {
  layout: "DashboardLayout",
  components: {
    [Tooltip.name]: Tooltip,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    FileInput
  },
  mounted() {
    if (this.$route.hash === "#upload") {
      this.showModal = true;
    }
  },
  watch: {
    showModal() {
      if (!this.showModal) {
        this.selectedRow = {};
        this.formData = { ...initialFormData };
      }
    }
  },
  data() {
    return {
      after: "",
      formData: { ...initialFormData },
      selectedRow: {},
      showModal: false,
      showDeleteConfirmation: false,
      trackAlbumEnum,
      searchAlbumsText: "",
      searchArtistsText: "",

      submitting: false,
      error: null
    };
  },
  computed: {
    modalTitle() {
      let title = `Uploading New Music for ${this.artistName}`;
      if (this.selectedRow.title) {
        title = `Editing ${this.selectedRow.title} by ${this.artistName}`;
      }
      return title;
    },
    deleteConfirmationTitle() {
      return "Delete Track";
    },
    deleteConfirmationText() {
      return this.selectedRow.title + " ?";
    },
    artistName() {
      if (this.$apollo.data.artist_tracks) {
        return this.$apollo.data.artist_tracks.name;
      }
      return null;
    },
    artistTracks() {
      if (
        this.$apollo.data.artist_tracks &&
        this.$apollo.data.artist_tracks.trackArtistConnection &&
        this.$apollo.data.artist_tracks.trackArtistConnection.edges
      ) {
        return this.$apollo.data.artist_tracks.trackArtistConnection.edges.map(
          ({ node }, i) => {
            const data = node.track;
            data.index = i + 1;
            return data;
          }
        );
      } else {
        return [];
      }
    },
    albumEdges() {
      if (!this.$apollo.data.searchAlbum) return [];
      const edges = this.$apollo.data.searchAlbum.edges
        ? this.$apollo.data.searchAlbum.edges.map(x => x.node.item)
        : [];
      return edges;
    },
    artistEdges() {
      if (this.$apollo.queries.searchArtists.loading) return [];
      if (!this.$apollo.data.searchArtists) return [];
      const edges = this.$apollo.data.searchArtists.edges
        ? this.$apollo.data.searchArtists.edges.map(x => x.node.item)
        : [];
      return edges;
    },
    genreEdges() {
      return this.$store.state.genres;
    }
  },
  apollo: {
    artist_tracks: {
      query: fetchArtistTracksAndFeaturingGql,
      variables() {
        return {
          id: this.$route.params.artistId,
          after: this.after
        };
      },
      update: data => data.artist
    },
    searchAlbum: {
      query: searchAlbumGql,
      variables() {
        return {
          param: this.searchAlbumsText
        };
      },
      update: data => data.search
    },
    searchArtists: {
      query: searchArtistGql,
      variables() {
        return {
          param: this.searchArtistsText
        };
      },
      update: data => data.search
    }
  },
  methods: {
    limitText(count) {
      return `and ${count} others`;
    },
    updateSearch(query, e) {
      this[e] = query;
    },
    updateArtistSearch(query) {
      this.searchArtistsText = query;
    },
    async filesChange(fileList, fileType) {
      if (!fileList || !fileList[0]) {
        console.log("No file Selected");
        return;
      }

      const file = fileList[0];

      if (fileType == "albumArt" && !file.type.match("image/*")) {
        alert("Select an image");
        return;
      }

      if (fileType == "audioTrack" && !file.type.match("audio/*")) {
        alert("Select music file");
        return;
      }

      if (fileType == "video" && !file.type.match("video/*")) {
        alert("Select video file");
        return;
      }

      this.formData = { ...this.formData, [fileType]: file };
    },
    async updateContentItem() {
      this.submitting = true;
      let update = {
        radio: this.crs.radio,
        host: this.crs.host,
        hostName: this.crs.hostname,
        name: this.crs.name,
        duration: this.crs.duration,
        start_time: this.crs.start_time,
        end_time: this.crs.end_time
      };
      JSON.parse(JSON.stringify(update));
      update.cover_image = this.crs.cover_image;
      console.log("update item:", update);
      try {
        const res = await this.$apollo.mutate({
          mutation: createRadioHomeGql,
          variables: update
        });
        console.log("update res: ", res);
        this.$apollo.queries.radio_shows.refetch();
        this.submitting = false;
      } catch (e) {
        console.log(JSON.stringify(e));
        this.submitting = false;
        this.$vToastify.error(
          e && e.graphQLErrors[0]
            ? e.graphQLErrors[0].message
            : "Error occurred while processing"
        );
      }
    },
    populateForm() {
      const data = this.selectedRow;
      const {
        title,
        sort_title: sortTitle,
        genres,
        is_explicit: isExplicit,
        features,
        albums,
        produced_by,
        written_by,
        lyrics
      } = data;

      this.formData = {
        title,
        sortTitle,
        genres,
        trackAlbumProperty: trackAlbumEnum.SINGLE_TRACK,
        features: features || [],
        collaborators: features || [],
        writers: written_by || [],
        producers: produced_by || [],
        albums: albums.map(({ id, album: { title } }) => ({ id, title })),
        lyrics: lyrics || "",
        isExplicit: false,
        duration: 0,
        albumArt: null,
        audioTrack: null,
        video: null
      };
    },
    updateArtistQuery(val, by) {
      // this.isLoading = by;
      console.log({ val, by });
      this.artistString = val;
    },
    onEdit(row) {
      this.selectedRow = row;
      this.populateForm();
      this.showModal = true;
    },
    onDelete(row) {
      this.selectedRow = row;
      this.showDeleteConfirmation = true;
    },
    showCreateModal() {
      this.showModal = true;
    },
    closeModal() {
      this.showModal = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.avatar {
  object-fit: cover;
}
</style>
