//
// Backgrounds
//


@each $color, $value in $colors {
	@include bg-variant(".bg-#{$color}", $value);
}

@each $color, $value in $theme-colors {
	@include bg-gradient-variant(".bg-gradient-#{$color}", $value);
}

@each $color, $value in $colors {
	@include bg-gradient-variant(".bg-gradient-#{$color}", $value);
}


// Background colors with transparency

@each $color, $value in $theme-colors {
    @include bg-translucent-variant(".bg-translucent-#{$color}", $value);
}


// Sections backgrounds

@each $color, $value in $section-colors {
    @include bg-variant(".section-#{$color}", $value);
}

@each $color, $value in $theme-colors {
    @include bg-gradient-variant(".bg-gradient-#{$color}", $value);
}

//gbedu purple background
.bg-gbedu {
    background: #191125;
    background: linear-gradient(115.15deg, #0A090C -21.08%, #1E0728 118.1%) !important;
}

.bg-gradient-gbedu {
    background: #191125;
    background: linear-gradient(24.52deg, #91A5F4 15.68%, #B08CF9 81.75%) !important;
}


// Shape (svg) fill colors

@each $color, $value in $theme-colors {
    .fill-#{$color}  {
        fill: $value;
    }

    .stroke-#{$color}  {
        stroke: $value;
    }
}

.fill-opacity-8 {
	fill-opacity: .8;
}
