<template>
  <footer class="footer px-4 mx-2">
    <div class="copyright text-center text-muted">
      © {{year}}
      <a
        href="https://www.gbedu.live"
        class="font-weight-bold ml-1"
        target="_blank"
        rel="noopener"
      >Gbedu</a>
    </div>
  </footer>
</template>
<script>
export default {
  data() {
    return {
      year: new Date().getFullYear()
    };
  }
};
</script>
<style></style>
