@include media-breakpoint-down(md) {
  .table-responsive.table {
    &--content {
      tr.el-table__row {
        display: flex;
        flex-direction: column;
        td {
          width: 100%;
          min-height: 81px;
          &:last-child {
            display: flex;
            justify-content: center;
          }
        }

        td:not(:last-child) {
          position: relative;
          padding-left: 50%;
          margin-left: 4px;
        }

        td:not(:last-child):before {
          /* Now like a table header */
          position: absolute;
          /* Top/left values mimic padding */
          top: 18px;
          left: 0px;
          width: 35%;
          padding-right: 10px;
          white-space: nowrap;
          font-weight: bold;
        }

        /*
          Label the data
          */
        td:nth-of-type(1):before {
          content: "Position";
        }
        td:nth-of-type(2):before {
          content: "Cover Image";
        }
        td:nth-of-type(3):before {
          content: "Type";
        }
        td:nth-of-type(4):before {
          content: "Title";
        }
        td:nth-of-type(5):before {
          content: "Created by";
        }
      }
    }
    &--radio-shows {
      tr.el-table__row {
        display: flex;
        flex-direction: column;
        td {
          width: 100%;
          min-height: 81px;
          &:last-child {
            display: flex;
            justify-content: center;
          }
        }

        td:not(:last-child) {
          position: relative;
          padding-left: 50%;
          margin-left: 4px;
        }

        td:not(:last-child):before {
          /* Now like a table header */
          position: absolute;
          /* Top/left values mimic padding */
          top: 18px;
          left: 0px;
          width: 35%;
          padding-right: 10px;
          white-space: nowrap;
          font-weight: bold;
        }

        /*
            Label the data
            */
        td:nth-of-type(1):before {
          content: "S/N";
        }
        td:nth-of-type(2):before {
          content: "Cover Image";
        }
        td:nth-of-type(3):before {
          content: "Name";
        }
        td:nth-of-type(4):before {
          content: "Host";
        }
        td:nth-of-type(5):before {
          content: "Duration";
        }
        td:nth-of-type(6):before {
          content: "Start";
        }
        td:nth-of-type(7):before {
          content: "End";
        }
      }
    }
    &--artist-list {
      tr.el-table__row {
        display: flex;
        flex-direction: column;
        td {
          width: 100%;
          min-height: 81px;
          &:last-child {
            display: flex;
            justify-content: center;
          }
        }

        td:not(:last-child) {
          position: relative;
          padding-left: 50%;
          margin-left: 4px;
        }

        td:not(:last-child):before {
          /* Now like a table header */
          position: absolute;
          /* Top/left values mimic padding */
          top: 18px;
          left: 0px;
          width: 35%;
          padding-right: 10px;
          white-space: nowrap;
          font-weight: bold;
        }

        /*
            Label the data
            */
        td:nth-of-type(1):before {
          content: "S/N";
        }
        td:nth-of-type(2):before {
          content: "Cover Image";
        }
        td:nth-of-type(3):before {
          content: "Name";
        }
        td:nth-of-type(4):before {
          content: "Verified?";
        }
      }
    }
    &--song-list {
      tr.el-table__row {
        display: flex;
        flex-direction: column;
        td {
          width: 100%;
          min-height: 81px;
          &:last-child {
            display: flex;
            justify-content: center;
          }
        }

        td:not(:last-child) {
          position: relative;
          padding-left: 50%;
          margin-left: 4px;
        }

        td:not(:last-child):before {
          /* Now like a table header */
          position: absolute;
          /* Top/left values mimic padding */
          top: 18px;
          left: 0px;
          width: 35%;
          padding-right: 10px;
          white-space: nowrap;
          font-weight: bold;
        }

        /*
            Label the data
            */
        td:nth-of-type(1):before {
          content: "S/N";
        }
        td:nth-of-type(2):before {
          content: "Cover Image";
        }
        td:nth-of-type(3):before {
          content: "Title";
        }
        td:nth-of-type(4):before {
          content: "Album";
        }
      }
    }
  }
}

@include media-breakpoint-down(md) {
  .el-table__header-wrapper {
    display: none;
  }
  .el-table__body-wrapper {
    table.el-table__body {
      width: unset !important;
      min-width: 100%;

      tbody {
        tr.el-table__row {
          display: flex;
          flex-direction: column;
          td {
            width: 100%;
            min-height: 81px;
            &:last-child {
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(lg) {
  .el-table__body-wrapper {
    table.el-table__body {
      tbody {
        tr.el-table__row {
          height: 81px;
          min-height: 81px;
        }
      }
    }
  }
}

.table-actions {
  display: flex;
}

.el-loading-mask {
  z-index: 2 !important;
}

.el-tag--small {
  background-color: $purple !important;
}

// .alert-notify {
//   background-color: #fff !important;
//   .alert-text {
//     color: $primary !important;
//   }
// }
