.multiselect__tags {
  .multiselect__tag {
    background: $primary !important;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 14px;
    border-radius: 3px;
  }
}
.multiselect__tag-icon {
  &:after {
    color: white !important;
  }
  &:hover {
    background: $primary !important;
  }
}
.multiselect__content-wrapper {
  background: $primary;
}
.multiselect__single {
  background: transparent !important;
  color: $primary !important;
}
.multiselect__option--highlight {
  background: $primary !important;
  &:after {
    background: $primary !important;
  }
}
