<template>
  <div class="auth-layout bg-gbedu">
    <div class="main-content">
      <nuxt></nuxt>
    </div>
  </div>
</template>
<script>
export default {
  middleware: "anonymous",
  data() {
    return {
      year: new Date().getFullYear()
    };
  }
};
</script>
<style lang="scss" scoped>
.auth-layout {
  min-height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content {
  width: 100%;
}
</style>
