<template>
  <div class="wrapper">
    <notifications></notifications>
    <side-bar>
      <template slot-scope="props" slot="links">
        <sidebar-item
          :link="{ name: 'Home Content', path: '/home/content', icon: 'ni ni-tv-2 text-primary' }"
        />
        <sidebar-item
          :link="{ name: 'Radio', path: '/radio', icon: 'ni ni-headphones text-primary' }"
        />
        <sidebar-item
          :link="{ name: 'Artists', path: '/artists', icon: 'ni ni-glasses-2 text-primary' }"
        />
        <sidebar-item
          :link="{ name: 'Users', path: '/users', icon: 'ni ni-circle-08 text-primary' }"
        />
      </template>
    </side-bar>
    <div class="main-content">
      <dashboard-navbar :type="$route.name === 'alternative' ? 'light': 'default'"></dashboard-navbar>

      <div class="content" @click="$sidebar.displaySidebar(false)">
        <nuxt></nuxt>
      </div>
      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>
<script>
/* eslint-disable no-new */
import PerfectScrollbar from "perfect-scrollbar";
import "perfect-scrollbar/css/perfect-scrollbar.css";

function hasElement(className) {
  return document.getElementsByClassName(className).length > 0;
}

function initScrollbar(className) {
  if (hasElement(className)) {
    new PerfectScrollbar(`.${className}`);
  } else {
    // try to init it later in case this component is loaded async
    setTimeout(() => {
      initScrollbar(className);
    }, 100);
  }
}

import DashboardNavbar from "~/components/layouts/gbedu/DashboardNavbar.vue";
import ContentFooter from "~/components/layouts/gbedu/ContentFooter.vue";
import DashboardContent from "~/components/layouts/gbedu/Content.vue";

export default {
  components: {
    DashboardNavbar,
    ContentFooter,
    DashboardContent
  },
  methods: {
    initScrollbar() {
      let isWindows = navigator.platform.startsWith("Win");
      if (isWindows) {
        initScrollbar("scrollbar-inner");
      }
    }
  },
  mounted() {
    this.initScrollbar();
  }
};
</script>
<style lang="scss" scoped>
.content {
  min-height: calc(100vh - 157px);
}
</style>
