<template>
  <div>
    <base-header class="pb-6">
      <h6 class="h2 text-white d-inline-block mb-0 py-4">Artists</h6>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="card col-12 pb-3">
          <div class="card-header border-0 px-0">
            <div class="row">
              <div class="col-6">
                <h3 class="mb-0">Manage Artists</h3>
              </div>
              <div class="col-6 text-right">
                <el-tooltip content="Create New Artist Account" placement="top">
                  <base-button @click="showCreateModal" type="outline-purple" icon size="sm">
                    <span class="btn-inner--icon">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="ml-1">Create Artist</span>
                  </base-button>
                </el-tooltip>
              </div>
            </div>
          </div>
          <div style="margin-top: 15px;">
            <base-input>
              <el-input
                placeholder="Search for artist..."
                v-model="searchArtistText"
                class="input-with-select"
              >
                <el-button @click="refetchSearchData" slot="append" icon="el-icon-search"></el-button>
              </el-input>
            </base-input>
          </div>
          <div class="pristine" v-if="!searchArtistText.length">
            <p class="text-muted text-center">
              <i class="el-icon-search"></i>
              Use the searchbar to find an artist
            </p>
          </div>
          <client-only v-if="searchArtistText.length">
            <el-table
              :empty-text="`No results found for ${searchArtistText}`"
              v-loading="searching || fetchingArtistData"
              class="table-responsive align-items-center table-flush table-striped table--artist-list"
              header-row-class-name="thead-light"
              :data="paginatedArtistEdges"
            >
              <el-table-column sortable label="S/N" prop="index" min-width="100px"></el-table-column>

              <el-table-column label="Cover Image" min-width="140px" prop="cover_image">
                <template v-slot="{row}">
                  <img
                    v-if="!searching"
                    :src="row.cover_image ? row.cover_image.url : ''"
                    class="avatar rounded-circle mr-3"
                  />
                </template>
              </el-table-column>

              <el-table-column sortable label="Name" prop="name" min-width="180px"></el-table-column>

              <el-table-column sortable label="Verified" prop="verified" min-width="120px"></el-table-column>

              <el-table-column label="Actions" min-width="145px">
                <div slot-scope="{row}" class="table-actions" v-if="!searching">
                  <el-tooltip content="Edit Artist" placement="top">
                    <base-button @click="onEdit(row)" type="outline-purple" icon size="sm">
                      <span class="btn-inner--icon">
                        <i class="fas fa-edit"></i>
                      </span>
                    </base-button>
                  </el-tooltip>
                  <el-tooltip content="Delete Artist" placement="top">
                    <base-button @click="onDelete(row)" type="outline-danger" icon size="sm">
                      <span class="btn-inner--icon">
                        <i class="fas fa-trash"></i>
                      </span>
                    </base-button>
                  </el-tooltip>
                  <el-dropdown trigger="click" class="dropdown">
                    <span class="btn btn-sm btn-icon-only text-light">
                      <i class="fas fa-ellipsis-v mt-2"></i>
                    </span>
                    <el-dropdown-menu
                      class="dropdown-menu dropdown-menu-arrow show"
                      slot="dropdown"
                    >
                      <nuxt-link class="dropdown-item" :to="'/songs/' + row.id">List Songs</nuxt-link>
                      <nuxt-link
                        class="dropdown-item"
                        :to="'/songs/' + row.id + '#upload'"
                      >Upload Song</nuxt-link>
                      <nuxt-link class="dropdown-item" :to="'/albums/' + row.id">List Albums</nuxt-link>
                      <nuxt-link class="dropdown-item" :to="'/albums/' + row.id">Create Album</nuxt-link>
                    </el-dropdown-menu>
                  </el-dropdown>
                </div>
              </el-table-column>
            </el-table>
            <div v-if="!searching && artistEdges.length" class="pt-4 mt-1">
              <base-pagination
                size="sm"
                align="center"
                :page-count="getPageCount"
                v-model="pagination.default"
              ></base-pagination>
            </div>
          </client-only>
          <modal size="sm" :show.sync="showDeleteConfirmation">
            <h6
              slot="header"
              class="modal-title"
              id="modal-title-default"
            >{{deleteConfirmationTitle}}</h6>
            <p class="text-center mb-1">Are you sure you want to delete</p>
            <p class="text-center">{{deleteConfirmationText}}</p>
            <div class="mt-4 d-flex justify-content-center">
              <base-button @click="deleteArtist()" type="danger">Yes, Delete</base-button>
            </div>
          </modal>
          <modal size="lg" :show.sync="showModal">
            <h6 slot="header" class="modal-title" id="modal-title-default">{{modalTitle}}</h6>
            <form>
              <div class="row">
                <div class="col-md-6">
                  <base-input
                    v-model="formData.name"
                    label="Name"
                    placeholder="Enter name of artist..."
                  />
                </div>
                <div class="col-md-6">
                  <base-input
                    v-model="formData.sortname"
                    label="Sort Name"
                    placeholder="Enter sortname of artist..."
                  />
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <base-input label="Gender">
                    <el-select v-model="formData.gender">
                      <el-option key="1" label="Male" value="male"></el-option>
                      <el-option key="2" label="Female" value="female"></el-option>
                      <el-option key="3" label="Other" value="other"></el-option>
                    </el-select>
                  </base-input>
                </div>
                <div class="col-md-6">
                  <base-input label="Is Verified">
                    <el-select v-model="formData.isVerified">
                      <el-option key="1" label="True" :value="true"></el-option>
                      <el-option key="2" label="False" :value="false"></el-option>
                    </el-select>
                  </base-input>
                </div>
              </div>

              <base-input label="Bio">
                <el-input
                  type="textarea"
                  :rows="4"
                  placeholder="Enter Artist's Biography..."
                  v-model="formData.bio"
                ></el-input>
              </base-input>

              <base-input label="Related Artists">
                <multi-select
                  v-model="formData.relatedArtists"
                  id="related-artists"
                  label="name"
                  track-by="id"
                  tag-placeholder="Add related artist"
                  placeholder="Type to search"
                  open-direction="bottom"
                  :options="relatedArtistEdges"
                  :multiple="true"
                  :searchable="true"
                  :loading="$apollo.queries.searchRelatedArtists ? $apollo.queries.searchRelatedArtists.loading : false"
                  :internal-search="false"
                  :limit="15"
                  :limit-text="limitText"
                  :max-height="150"
                  :hide-selected="false"
                  @search-change="updateSearch($event, 'searchRelatedArtistText')"
                >
                  <span slot="noResult">Artist not found</span>
                  <span slot="noOptions"></span>
                </multi-select>
              </base-input>

              <client-only>
                <base-input label="Cover Image">
                  <img class="image-preview mb-3" :src="getImagePreview" alt="Upload Preview" />
                  <file-input @change="filesChange"></file-input>
                </base-input>
              </client-only>
            </form>

            <template slot="footer">
              <base-button @click="updateArtist()" type="primary">Save changes</base-button>
            </template>
          </modal>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ArtistGql from "~/gql/Artist.gql";
import searchArtistGql from "~/gql/searchArtist.gql";
import deleteArtistGql from "~/gql/deleteArtist.gql";

import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
  Tooltip,
  Loading
} from "element-ui";
import FileInput from "@/components/gbedu-core/Inputs/FileInput";

const initialFormData = {
  name: "",
  sortname: "",
  gender: "",
  isVerified: false,
  bio: "",
  relatedArtists: [],
  cover_image: null
};

const getRecordsStartCount = (page, pageSize) => {
  return page * pageSize - (pageSize - 1);
};

export default {
  layout: "DashboardLayout",
  components: {
    [Tooltip.name]: Tooltip,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    FileInput
  },
  mounted() {},
  watch: {
    showModal() {
      if (!this.showModal) {
        this.selectedRow = {};
        this.formData = { ...initialFormData };
      }
    },
    searchArtistText() {
      if (this.pagination.default > 1) {
        this.pagination.default = 1;
      }
    }
  },
  data() {
    return {
      searchArtistText: "",
      searchRelatedArtistText: "",
      selectedRow: {},
      showDeleteConfirmation: false,
      searchRadioText: "",
      formData: { ...initialFormData },
      showModal: false,
      fetchingArtistData: false,
      pageSize: 6,
      pagination: {
        default: 1
      },
      submitting: false,
      error: null
    };
  },
  apollo: {
    searchArtists: {
      query: searchArtistGql,
      variables() {
        return {
          param: this.searchArtistText
        };
      },
      update: data => data.search
    },
    searchRelatedArtists: {
      query: searchArtistGql,
      variables() {
        return {
          param: this.searchRelatedArtistText
        };
      },
      update: data => data.search
    }
  },
  computed: {
    searching() {
      return this.$apollo.queries.searchArtists.loading;
    },
    artistEdges() {
      if (this.$apollo.queries.searchArtists.loading)
        return [{}, {}, {}, {}, {}, {}, {}];
      if (!this.$apollo.data.searchArtists) return [];
      const edges = this.$apollo.data.searchArtists.edges
        ? this.$apollo.data.searchArtists.edges.map((x, i) => {
            const data = x.node.item;
            data.index = i + 1;
            data.verified = x.verified ? "Yes" : "No";
            return data;
          })
        : [];
      return edges;
    },
    paginatedArtistEdges() {
      return this.artistEdges.slice(
        getRecordsStartCount(this.pagination.default, this.pageSize) - 1,
        getRecordsStartCount(this.pagination.default, this.pageSize) +
          (this.pageSize - 1)
      );
    },
    relatedArtistEdges() {
      if (this.$apollo.queries.searchRelatedArtists.loading)
        return [{}, {}, {}, {}, {}, {}, {}];
      if (!this.$apollo.data.searchRelatedArtists) return [];
      const edges = this.$apollo.data.searchRelatedArtists.edges
        ? this.$apollo.data.searchRelatedArtists.edges.map(x => x.node.item)
        : [];
      return edges;
    },
    getPageCount() {
      return Math.max(Math.ceil(this.artistEdges.length / this.pageSize), 1);
    },
    deleteConfirmationTitle() {
      return "Delete Artist";
    },
    deleteConfirmationText() {
      const name = this.selectedRow ? this.selectedRow.name + "'s " : "this ";
      return name + "account?";
    },
    getImagePreview() {
      const coverImage = this.formData.cover_image;
      if (!coverImage) return "/img/placeholders/pictureupload.svg";
      if (typeof coverImage === "object" && coverImage[0] && process.client)
        return URL.createObjectURL(coverImage[0]);
      return coverImage;
    },
    modalTitle() {
      let type = "Create New";
      let suffix = "";
      if (this.selectedRow.name) {
        type = "Edit";
        suffix = `: ${this.selectedRow.name}`;
      }
      return `${type} Artist${suffix}`;
    }
  },
  methods: {
    async filesChange(file) {
      this.formData = { ...this.formData, cover_image: file };
    },
    limitText(count) {
      return `and ${count} others`;
    },
    updateSearch(query, e) {
      this[e] = query;
    },
    refetchSearchData() {
      this.$apollo.queries.searchArtists.refetch();
    },
    populateEditForm(data) {
      const {
        name,
        bio,
        gender,
        verified,
        cover_image,
        relatedArtistsConnection
      } = data.data.artist;

      const prevRelatedArtists = relatedArtistsConnection.edges
        ? relatedArtistsConnection.edges.map(x => x.node)
        : [];

      this.formData = {
        name,
        bio,
        gender: gender.toLowerCase(),
        isVerified: verified,
        cover_image: cover_image ? cover_image.url : null,
        relatedArtists: prevRelatedArtists
      };
    },
    async deleteArtist() {},
    async updateArtist() {
      this.submitting = true;
      let payload = this.formData;

      // try {
      //   const res = await this.$apollo.mutate({
      //     mutation: createRadioHomeGql,
      //     variables: payload
      //   });
      //   console.log("payload res: ", res);
      //   this.$apollo.queries.radio_shows.refetch();
      //   this.submitting = false;
      // } catch (e) {
      //   console.log(JSON.stringify(e));
      //   this.submitting = false;
      //   this.$vToastify.error(
      //     e && e.graphQLErrors[0]
      //       ? e.graphQLErrors[0].message
      //       : "Error occurred while processing"
      //   );
      // }
    },
    onEdit(row) {
      this.selectedRow = row;
      this.fetchingArtistData = true;
      this.$apollo
        .query({
          query: ArtistGql,
          variables: {
            id: row.id
          }
        })
        .then(res => {
          this.populateEditForm(res);
          this.showModal = true;
        })
        .catch(err => {
          console.log(err);
          console.log("Toast an error message");
        })
        .finally(() => (this.fetchingArtistData = false));
    },
    onDelete(row) {
      this.selectedRow = row;
      this.showDeleteConfirmation = true;
    },
    showCreateModal() {
      this.showModal = true;
    },
    closeModal() {
      this.showModal = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.avatar {
  object-fit: cover;
}
.pristine {
  min-height: 536px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 200px;
  p {
    font-size: 24px;
  }
}
.image-preview {
  width: 160px;
}
</style>
