<template>
  <div>
    <!-- Header -->

    <div class="text-center mb-4 mb-xl-6">
      <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 px-5">
          <nuxt-link to="/" :prefetch="false">
            <img class="gbedu-logo" src="img/brand/white.svg" alt="Logo white" />
          </nuxt-link>
          <h1 class="text-white">Admin-UI Sign In</h1>
        </div>
      </div>
    </div>
    <!-- Page content -->

    <div class="d-flex flex-column justify-content-center align-items-center">
      <div class="card bg-secondary border-0 mb-0 pt-5">
        <div class="card-body px-1 px-lg-5 py-lg-5">
          <validation-observer v-slot="{handleSubmit}" ref="formValidator">
            <form role="form" @submit.prevent="handleSubmit(onSubmit)">
              <base-input
                alternative
                class="mb-3"
                name="Email"
                :rules="{required: true, email: true}"
                prepend-icon="ni ni-email-83"
                placeholder="Email"
                v-model="model.email"
              ></base-input>

              <base-input
                alternative
                class="mb-3"
                name="Password"
                :rules="{required: true, min: 6}"
                prepend-icon="ni ni-lock-circle-open"
                type="password"
                placeholder="Password"
                v-model="model.password"
              ></base-input>

              <base-checkbox v-model="model.rememberMe">Remember me</base-checkbox>
              <div class="text-center">
                <base-button type="primary" native-type="submit" class="my-4">Sign in</base-button>
              </div>
            </form>
          </validation-observer>
        </div>
      </div>
      <div class="row d-flex justify-content-center align-item-end mt-4">
        <router-link to="/dashboard" class="text-light">
          <small>Forgot password?</small>
        </router-link>
      </div>
    </div>
  </div>
</template>
<script>
import loginUserGql from "~/gql/loginAdmin.gql";
export default {
  name: "Login",
  middleware: "anonymous",
  layout: "AuthLayout",
  head() {
    return {
      title: "Gbedu.live Admin-UI | Login"
    };
  },
  data() {
    return {
      model: {
        email: "",
        password: "",
        rememberMe: false
      },
      isAuthenticated: false,
      submitting: false,
      error: null,
      successfulData: null
    };
  },
  mounted() {
    this.isAuthenticated = !!this.$apolloHelpers.getToken();
  },
  methods: {
    async onSubmit(e) {
      // this will be called only after form is valid. You can do api call here to login
      console.log(this.model);
      this.submitting = true;
      const credentials = this.model;
      try {
        const res = await this.$apollo
          .mutate({
            mutation: loginUserGql,
            variables: credentials
          })
          .then(({ data }) => data && data.authenticateAdmin);
        await this.$apolloHelpers.onLogin(res.access_token.value, undefined);
        this.$store.dispatch("login", res);
        this.$router.push({ path: "/" });
      } catch (e) {
        console.log(JSON.stringify(e));
        this.submitting = false;
        // this.$notify.error({
        //   message:
        //     e.graphQLErrors && e.graphQLErrors[0]
        //       ? e.graphQLErrors[0].message
        //       : "Error occurred while processing"
        // });
      }
    }
  }
};
</script>
<style scoped>
.gbedu-logo {
  height: 42px;
  margin-bottom: 64px;
}
.card {
  width: 92%;
  padding: 0 16px;
  max-width: 420px;
  margin: 0 auto;
  border-radius: 4px;
}
</style>
