<template>
  <div>
    <base-header class="pb-6">
      <h6 class="h2 text-white d-inline-block mb-0 py-4">Radio</h6>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="card col-12 pb-3">
          <div class="card-header border-0 px-0">
            <div class="row">
              <div class="col-6">
                <h3 class="mb-0">Radio Shows</h3>
              </div>
              <div class="col-6 text-right">
                <el-tooltip content="Create New Radio Show" placement="top">
                  <base-button @click="modal = true" type="outline-purple" icon size="sm">
                    <span class="btn-inner--icon">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="ml-1">Create Radio Show</span>
                  </base-button>
                </el-tooltip>
              </div>
            </div>
          </div>
          <client-only>
            <el-table
              v-loading="$apollo.queries.radio_shows.loading"
              class="table-responsive align-items-center table-flush table-striped table--radio-shows"
              header-row-class-name="thead-light"
              :data="radioShows"
            >
              <el-table-column sortable label="S/N" prop="counter" min-width="100px"></el-table-column>

              <el-table-column label="Cover Image" min-width="140px" prop="cover_image">
                <template v-slot="{row}">
                  <img
                    :src="row.cover_image.url || '/img/placeholders/noimageavailable.svg'"
                    class="avatar rounded-circle mr-3"
                  />
                </template>
              </el-table-column>

              <el-table-column sortable label="Name" prop="name" min-width="212px"></el-table-column>

              <el-table-column sortable label="Host" prop="host" min-width="140px"></el-table-column>

              <el-table-column sortable label="Duration" min-width="140px" prop="duration"></el-table-column>

              <el-table-column label="Start" prop="start_time" min-width="140px">
                <template v-slot="{row}">{{getTime(row.start_time)}}</template>
              </el-table-column>

              <el-table-column label="End" prop="end_time" min-width="140px">
                <template v-slot="{row}">{{getTime(row.end_time)}}</template>
              </el-table-column>

              <el-table-column label="Actions" min-width="242px">
                <div slot-scope="{row}" class="table-actions">
                  <el-tooltip content="Edit Show" placement="top">
                    <base-button
                      @click="onEdit(row)"
                      class="d-flex"
                      type="outline-purple"
                      icon
                      size="sm"
                    >
                      <span class="btn-inner--icon">
                        <i class="fas fa-edit"></i>
                      </span>
                      <span class="d-block d-lg-none">Edit</span>
                    </base-button>
                  </el-tooltip>
                  <el-tooltip content="Delete Show" placement="top">
                    <base-button
                      @click="onDelete(row)"
                      class="d-flex"
                      type="outline-danger"
                      icon
                      size="sm"
                    >
                      <span class="btn-inner--icon">
                        <i class="fas fa-trash"></i>
                      </span>
                      <span class="d-block d-lg-none">Delete</span>
                    </base-button>
                  </el-tooltip>
                </div>
              </el-table-column>
            </el-table>

            <modal size="sm" :show.sync="showDeleteConfirmation">
              <h6
                slot="header"
                class="modal-title"
                id="modal-title-default"
              >{{deleteConfirmationTitle}}</h6>
              <p class="text-center mb-1">Are you sure you want to delete</p>
              <p class="text-center">{{deleteConfirmationText}}</p>
              <div class="mt-4 d-flex justify-content-center">
                <base-button
                  :loading="deletingShow"
                  @click="deleteRadioShow"
                  type="danger"
                >Yes, Delete</base-button>
              </div>
            </modal>

            <modal size="lg" :show.sync="modal">
              <h6 slot="header" class="modal-title" id="modal-title-default">{{modalTitle}}</h6>
              <form>
                <div class="row">
                  <div class="col-md-6">
                    <base-input
                      v-model="formData.name"
                      label="Show Name"
                      placeholder="Enter name of radio show..."
                    />
                  </div>
                  <div class="col-md-6">
                    <base-input label="Radio Station">
                      <el-select
                        :disabled="false"
                        v-model="formData.radio"
                        filterable
                        remote
                        loading-text="Loading radio stations..."
                        placeholder="Please enter a keyword"
                        :remote-method="updateRadioSearch"
                        :loading="$apollo.queries.searchRadio ? $apollo.queries.searchRadio.loading : false"
                      >
                        <el-option
                          v-for="item in radioEdges"
                          :key="item.id"
                          :label="`${item.name} (${item.channel})`"
                          :value="item"
                        ></el-option>
                      </el-select>
                    </base-input>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <base-input
                      :disabled="true"
                      v-model="formData.host"
                      label="Host"
                      placeholder="..."
                    />
                  </div>
                  <div class="col-md-6">
                    <base-input
                      v-model="formData.hostname"
                      label="Host name"
                      placeholder="Enter Host name..."
                    />
                  </div>
                </div>

                <base-input label="Guest(s)">
                  <el-select
                    v-model="formData.guests"
                    multiple
                    filterable
                    allow-create
                    default-first-option
                    placeholder="Enter list of guests"
                  ></el-select>
                </base-input>

                <base-input v-model="formData.duration" label="Duration" placeholder="..." />

                <div class="row">
                  <div class="col-md-6">
                    <base-input label="Start time" addon-left-icon="ni ni-calendar-grid-58">
                      <flat-picker
                        placeholder="Select Date..."
                        slot-scope="{focus, blur}"
                        @on-open="focus"
                        @on-close="blur"
                        :config="{allowInput: true, enableTime: true}"
                        class="form-control datepicker"
                        v-model="formData.start_time"
                      ></flat-picker>
                    </base-input>
                  </div>
                  <div class="col-md-6">
                    <base-input label="End time" addon-left-icon="ni ni-calendar-grid-58">
                      <flat-picker
                        placeholder="Select Date..."
                        slot-scope="{focus, blur}"
                        @on-open="focus"
                        @on-close="blur"
                        :config="{allowInput: true, enableTime: true}"
                        class="form-control datepicker"
                        v-model="formData.end_time"
                      ></flat-picker>
                    </base-input>
                  </div>
                </div>
                <base-input label="Cover Image">
                  <file-input @change="filesChange"></file-input>
                </base-input>
              </form>

              <template slot="footer">
                <base-button @click="updateContentItem()" type="primary">Save changes</base-button>
              </template>
            </modal>
          </client-only>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import fetchRadioShowsGql from "~/gql/fetchRadioShows.gql";
import createRadioShowGql from "~/gql/createRadioShow.gql";
import deleteRadioShowGql from "~/gql/deleteRadioShow.gql";
import searchRadioGql from "~/gql/searchRadio.gql";

import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
  Tooltip,
  Loading
} from "element-ui";
import FileInput from "@/components/gbedu-core/Inputs/FileInput";

const initialFormData = {
  radio: {},
  host: "Gbedu",
  name: "",
  hostname: "",
  guests: [],
  duration: "",
  start_time: "",
  end_time: "",
  cover_image: []
};

export default {
  layout: "DashboardLayout",
  components: {
    [Tooltip.name]: Tooltip,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu,
    FileInput
  },
  mounted() {},
  watch: {
    modal() {
      if (!this.modal) {
        this.selectedRow = {};
        this.formData = { ...initialFormData };
      }
    }
  },
  data() {
    return {
      isAuthenticated: false,
      submitting: false,
      error: null,
      contents: [],
      successfulData: null,
      param: "",
      formData: { ...initialFormData },
      selectedRow: {},
      modal: false,
      showDeleteConfirmation: false,
      searchRadioText: "",
      deletingShow: false
    };
  },
  apollo: {
    radio_shows: {
      query: fetchRadioShowsGql,
      update: data => data.radio_shows
    },
    searchRadio: {
      query: searchRadioGql,
      variables() {
        return {
          param: this.searchRadioText
        };
      },
      update: data => data.search
    }
  },
  computed: {
    modalTitle() {
      let type = "Create";
      let suffix = "";
      if (this.selectedRow.name) {
        type = "Edit";
        suffix = `: ${this.selectedRow.name}`;
      }
      return `${type} Radio Show${suffix}`;
    },
    deleteConfirmationTitle() {
      return "Delete Radio Show";
    },
    deleteConfirmationText() {
      return this.selectedRow.name + " ?";
    },
    radioShows() {
      if (this.radio_shows && this.radio_shows.edges) {
        return this.radio_shows.edges.map(({ node }) => node);
      } else {
        return [];
      }
    },
    radioEdges() {
      if (!this.$apollo.data.searchRadio) return [];
      const edges = this.$apollo.data.searchRadio.edges
        ? this.$apollo.data.searchRadio.edges.map(x => x.node.item)
        : [];
      return edges;
    }
  },
  methods: {
    updateRadioSearch(query) {
      this.searchRadioText = query;
    },
    async filesChange(file) {
      this.formData = { ...this.formData, cover_image: file };
    },
    getItemDetail(item) {
      switch (item.type) {
        case "album":
        case "track":
          return item.item.artists.map(a => a.name).join(", ");
        case "playlist":
          return item.item.created_by.node.name;
        default:
          return "";
      }
    },
    getTime(date) {
      return new Date(date).toTimeString().slice(0, 5);
    },
    async deleteRadioShow() {
      const { id } = this.selectedRow;
      this.deletingShow = true;
      try {
        const res = await this.$apollo.mutate({
          mutation: deleteRadioShowGql,
          variables: { id }
        });
        console.log("update res: ", res);
        this.$apollo.queries.radio_shows.refetch();
        this.showDeleteConfirmation = false;
      } catch (e) {
        console.log(JSON.stringify(e));
        this.submitting = false;
        console.log(
          e.graphQLErrors[0]
            ? e.graphQLErrors[0].message
            : "Error occurred while processing"
        );
      } finally {
        this.deletingShow = false;
      }
    },
    async updateContentItem() {
      this.submitting = true;
      let update = {
        radio: this.crs.radio,
        host: this.crs.host,
        hostName: this.crs.hostname,
        name: this.crs.name,
        duration: this.crs.duration,
        start_time: this.crs.start_time,
        end_time: this.crs.end_time
      };
      JSON.parse(JSON.stringify(update));
      update.cover_image = this.crs.cover_image;
      console.log("update item:", update);
      try {
        const res = await this.$apollo.mutate({
          mutation: createRadioShowGql,
          variables: update
        });
        console.log("update res: ", res);
        this.$apollo.queries.radio_shows.refetch();
        this.submitting = false;
      } catch (e) {
        console.log(JSON.stringify(e));
        this.submitting = false;
        this.$vToastify.error(
          e && e.graphQLErrors[0]
            ? e.graphQLErrors[0].message
            : "Error occurred while processing"
        );
      }
    },
    ///////////
    onEdit(row) {
      this.selectedRow = row;
      this.modal = true;
    },
    onDelete(row) {
      this.selectedRow = row;
      this.showDeleteConfirmation = true;
    },
    closeModal() {
      this.modal = false;
    }
  }
};
</script>

<style lang="scss" scoped>
.avatar {
  object-fit: cover;
}
</style>
