<template>
  <div>
    <base-header class="pb-6">
      <h6 class="h2 text-white d-inline-block mb-0 py-4">Users</h6>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row"></div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "DashboardLayout"
};
</script>

<style>
</style>