<template>
  <div>
    <base-header class="pb-6">
      <h6 class="h2 text-white d-inline-block mb-0 py-4">Home</h6>
    </base-header>

    <div class="container-fluid mt--6">
      <div class="row">
        <div class="card col-12 pb-3">
          <div class="card-header border-0 px-0">
            <div class="row">
              <div class="col-6">
                <h3 class="mb-0">Home Content</h3>
              </div>
              <div class="col-6 text-right">
                <base-button
                  class="d-none d-md-inline"
                  :loading="runningReset"
                  @click="runReset"
                  type="outline-purple"
                  icon
                  size="sm"
                >
                  <span class="btn-inner--icon">
                    <i class="fas fa-plane"></i>
                  </span>
                  <span class="ml-1">Reset</span>
                </base-button>
                <base-button
                  class="d-none d-md-inline"
                  @click="runRefetch"
                  type="outline-purple"
                  icon
                  size="sm"
                >
                  <span class="btn-inner--icon">
                    <i class="fas fa-redo"></i>
                  </span>
                  <span class="ml-1">Reload</span>
                </base-button>
                <el-tooltip content="View home content preview" placement="top">
                  <base-button @click="showPreview = true" type="purple" icon size="sm">
                    <span class="btn-inner--icon">
                      <i class="fas fa-eye"></i>
                    </span>
                    <span class="ml-1">Preview</span>
                  </base-button>
                </el-tooltip>
              </div>
            </div>
          </div>
          <el-table
            v-loading="$apollo.queries.contents.loading"
            class="table-responsive align-items-center table-flush table-striped table--content"
            header-row-class-name="thead-light"
            :data="$apollo.data.contents"
          >
            <el-table-column sortable label="Position" prop="position" width="130px"></el-table-column>

            <el-table-column label="Image" min-width="140px" prop="image">
              <template v-slot="{row}">
                <img
                  v-if="row.item"
                  :src="row.type === 'album'
                    ? row.item.album_image ? row.item.album_image.url : '/img/placeholders/noimageavailable.svg'
                    : row.item.cover_image ? row.item.cover_image.url : '/img/placeholders/noimageavailable.svg'"
                  class="avatar rounded-circle mr-3"
                />
              </template>
            </el-table-column>

            <el-table-column sortable label="Type" prop="type" min-width="140px"></el-table-column>

            <el-table-column sortable label="Title" min-width="280px" prop="item.title"></el-table-column>

            <el-table-column label="Created By" prop="item.created_by.node.name" min-width="140px"></el-table-column>

            <el-table-column label="Actions" min-width="116px">
              <div v-if="row.item" slot-scope="{row}" class="table-actions">
                <el-tooltip :content="`Edit Position ${row.position}`" placement="top">
                  <base-button
                    @click="onClickEdit(row)"
                    class="d-flex"
                    type="outline-purple"
                    icon
                    size="sm"
                  >
                    <span class="btn-inner--icon">
                      <i class="fas fa-edit"></i>
                    </span>
                    <span class="d-block d-lg-none ml-1">Edit</span>
                  </base-button>
                </el-tooltip>
              </div>
            </el-table-column>
          </el-table>

          <modal size="xl" :show.sync="showPreview">
            <div v-if="$apollo.data.contents" class="parent">
              <div
                :key="i"
                v-for="(content, i) in $apollo.data.contents"
                :class="`div${content.position}`"
              >
                <img
                  :src="content.type === 'album' 
                  ? content.item.album_image ? content.item.album_image.url : '/img/placeholders/noimageavailable.svg' 
                  : content.item.cover_image ? content.item.cover_image.url : '/img/placeholders/noimageavailable.svg'"
                />
                <p>{{content.title}}</p>
              </div>
            </div>
          </modal>

          <modal :show.sync="showUpdateModal">
            <h6
              slot="header"
              class="modal-title"
              id="modal-title-default"
              v-if="selectedRow.position"
            >Edit Content at Position {{selectedRow.position}}</h6>

            <form role="form">
              <base-input label="Type">
                <el-select :disabled="submitting" v-model="contentType" placeholder="Select">
                  <el-option label="Album" value="album"></el-option>
                  <el-option label="Playlist" value="playlist"></el-option>
                </el-select>
              </base-input>
              <base-input v-if="contentType==='playlist'" label="Search: Playlists">
                <el-select
                  :disabled="submitting"
                  v-model="playlistContent"
                  filterable
                  remote
                  loading-text="Loading playlists..."
                  placeholder="Please enter a keyword"
                  :remote-method="updatePlaylistSearch"
                  :loading="$apollo.queries.playlistSearch ? $apollo.queries.playlistSearch.loading : false"
                >
                  <el-option
                    v-for="item in playlistEdges"
                    :key="item.value"
                    :label="item.title"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </base-input>
              <base-input v-if="contentType==='album'" label="Search: Albums">
                <el-select
                  :disabled="submitting"
                  v-model="albumContent"
                  filterable
                  remote
                  loading-text="Loading albums..."
                  placeholder="Please enter a keyword"
                  :remote-method="updateAlbumSearch"
                  :loading="$apollo.queries.albumSearch ? $apollo.queries.albumSearch.loading : false"
                >
                  <el-option
                    v-for="item in albumEdges"
                    :key="item.id"
                    :label="item.title"
                    :value="item.id"
                  ></el-option>
                </el-select>
              </base-input>
            </form>
            <template slot="footer">
              <base-button
                :loading="submitting"
                @click="updateHomeContentItem"
                :disabled="loading"
                type="primary"
              >Sav{{submitting ? 'ing' : 'e'}} changes</base-button>
            </template>
          </modal>
        </div>
      </div>
    </div>
  </div>
</template>


<script>
import homeDataGql from "~/gql/fetchHomeData.gql";
import fetchAllAlbumsGql from "~/gql/fetchAllAlbums.gql";
import fetchAllPlaylistsGql from "~/gql/fetchAllPlaylists.gql";
import updateHomeDataGql from "~/gql/updateHomeData.gql";
import searchAlbumGql from "~/gql/searchAlbum.gql";
import searchPlaylistGql from "~/gql/searchPlaylist.gql";

import {
  Table,
  TableColumn,
  DropdownMenu,
  DropdownItem,
  Dropdown,
  Tooltip,
  Loading
} from "element-ui";

export default {
  layout: "DashboardLayout",
  components: {
    [Tooltip.name]: Tooltip,
    [Table.name]: Table,
    [TableColumn.name]: TableColumn,
    [Dropdown.name]: Dropdown,
    [DropdownItem.name]: DropdownItem,
    [DropdownMenu.name]: DropdownMenu
  },
  data() {
    return {
      submitting: false,
      error: null,
      loading: false,
      showUpdateModal: false,
      selectedRow: {},
      contentType: "album",
      showPreview: false,
      searchAlbumText: "",
      searchPlaylistText: "",
      playlistContent: "",
      albumContent: "",
      runningReset: false
    };
  },
  watch: {
    contentType() {
      this.albumContent = "";
      this.playlistContent = "";
    },
    showUpdateModal() {
      if (!this.showUpdateModal) {
        this.selectedRow = {};
      }
    }
  },
  computed: {
    albumEdges() {
      if (!this.$apollo.data.albumSearch) return [];
      const edges = this.$apollo.data.albumSearch.edges
        ? this.$apollo.data.albumSearch.edges.map(x => x.node.item)
        : [];
      return edges;
    },
    playlistEdges() {
      if (!this.$apollo.data.playlistSearch) return [];
      const edges = this.$apollo.data.playlistSearch.edges
        ? this.$apollo.data.playlistSearch.edges.map(x => x.node.item)
        : [];
      return edges;
    }
  },
  apollo: {
    albumSearch: {
      query: searchAlbumGql,
      variables() {
        return {
          param: this.searchAlbumText
        };
      },
      update: data => data.search
    },
    playlistSearch: {
      query: searchPlaylistGql,
      variables() {
        return {
          param: this.searchPlaylistText
        };
      },
      update: data => data.search
    },
    contents: {
      query: homeDataGql,
      update: data => data.home_content
    }
  },
  methods: {
    onClickEdit(row) {
      this.selectedRow = row;
      this.showUpdateModal = true;
    },
    closeUpdateModal() {
      this.showUpdateModal = false;
    },
    updateAlbumSearch(query) {
      this.searchAlbumText = query;
    },
    updatePlaylistSearch(query) {
      this.searchPlaylistText = query;
    },
    runRefetch() {
      this.$apollo.queries.contents.refetch();
    },
    async updateHomeContentItem(e) {
      this.submitting = true;
      const update = {
        id: this.selectedRow.id,
        type: this.contentType,
        position: this.selectedRow.position,
        item: this.selectedRow.item.id
      };
      try {
        const res = await this.$apollo.mutate({
          mutation: updateHomeDataGql,
          variables: { input: [update] }
        });
        this.contentType = "album";
        this.playlistContent = "";
        this.albumContent = "";
        this.$apollo.queries.contents.refetch();
        this.closeUpdateModal();
      } catch (e) {
        const error =
          e && e.graphQLErrors[0]
            ? e.graphQLErrors[0].message
            : "Error occurred while processing";
        this.$notify({ type: "primary", message: error });
      } finally {
        this.submitting = false;
      }
    },
    async runReset() {
      const input = [
        {
          id: "fedf980d-63e1-4cd9-a41a-0d913f46297a",
          position: 1,
          type: "ALBUM",
          item: "7b1b6fc8-917c-4ac3-a939-ae0a245bfbcc"
        },
        {
          id: "bc9b35a6-e01b-4b1d-8315-2af6ee2f6920",
          position: 2,
          type: "ALBUM",
          item: "14b43257-5616-467b-87eb-149b39f2995a"
        },
        {
          id: "36cd31d2-ddeb-4c77-a935-fe3a395ec149",
          position: 3,
          type: "ALBUM",
          item: "7b1b6fc8-917c-4ac3-a939-ae0a245bfbcc"
        },
        {
          id: "b45354af-a2dc-41d2-871d-26f8704ea0dd",
          position: 4,
          type: "ALBUM",
          item: "96ac6884-1a61-41e1-9c40-95411fc56d1b"
        },
        {
          id: "6e45a58f-004d-46de-aa0e-71b69233dcef",
          position: 5,
          type: "PLAYLIST",
          item: "0571748e-934b-4803-93ef-41fe4b63351b"
        },
        {
          id: "a4dee50e-8088-489e-b3c3-1ac820757214",
          position: 6,
          type: "ALBUM",
          item: "52cbd29d-3174-46ab-9cdb-0ce2b9f7755a"
        },
        {
          id: "5c7feadf-c2eb-41c0-abb2-55753fa2123d",
          position: 7,
          type: "ALBUM",
          item: "52cbd29d-3174-46ab-9cdb-0ce2b9f7755a"
        }
      ];
      this.runningReset = true;
      try {
        const res = await this.$apollo.mutate({
          mutation: updateHomeDataGql,
          variables: { input }
        });
      } catch (e) {
        const error =
          e && e.graphQLErrors[0]
            ? e.graphQLErrors[0].message
            : "Error occurred while processing";
        console.log(error);
      } finally {
        this.$apollo.queries.contents.refetch();
        this.runningReset = false;
      }
    }
  }
};
</script>

<style lang="scss" scoped>
.table__row {
  cursor: pointer;
}
.avatar.rounded-circle:hover {
  transform-origin: center;
  will-change: transform;
  z-index: 33;
  transform: scale(1.1);
  transition: all 200ms ease-in-out;
}
.parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  div img {
    max-width: 100%;
    max-height: 100%;
  }
}

.parent {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  width: 100%;
  height: 426px;
}

.div1 {
  background: lightgrey;
  grid-area: 1 / 1 / 3 / 5;
  display: flex;
  justify-content: center;
  align-items: center;
}
.div2 {
  grid-area: 1 / 5 / 2 / 7;
}
.div3 {
  grid-area: 1 / 7 / 2 / 9;
}
.div4 {
  grid-area: 2 / 5 / 3 / 6;
}
.div5 {
  grid-area: 2 / 6 / 3 / 7;
}
.div6 {
  grid-area: 2 / 7 / 3 / 8;
}
.div7 {
  grid-area: 2 / 8 / 3 / 9;
}
</style>